.blurred-image-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  animation: 3s ease-in-out infinite example;
  border-radius: 50%;
  transform: translateX(-50%);
}

@keyframes example {
  0% {
    left: 48%;
  }
  50% {
    left: 52%;
  }
  100% {
    left: 48%;
  }
}

.type-animation {
  display: 'inline-block';
  font-weight: 700;
}

@media only screen and (min-width: 900px) {
  .type-animation {
    font-size: 3rem;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 899px) {
  .type-animation {
    font-size: 1.8rem;
  }
}
