.link {
  display: block;
  text-decoration: none;
}

.text {
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  border-radius: 10px;
  transition: background-color 0.5s ease-in-out;
}

.text-selected {
  background-color: white;
  color: black;
}

.text_small {
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  transition: background-color 0.5s ease-in-out;
}

.text_small-selected {
  background-color: white;
  color: black;
}
