.hidden-content {
  box-sizing: border-box;
  width: 100%;
  height: 0%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: height 0.5s;
}

.hidden-content-hover {
  z-index: 100;
  height: 100%;
}

.content {
  background-color: white;
}
